body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

:root {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-off-bg: #e6e6e6;
    --color-off-border: #e6e6e6;
    --color-on-bg: #94ff86;
    --color-on-border: #94ff86;
    --color-vote-off: #000000;
    --color-vote-on: #000000;
}

body {
    color: var(--color-fg);
    background-color: var(--color-bg);
    margin: 0;
}

#top-sticky-area {
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
}

#status-container {
    display: flex;
    row-gap: 1vw;
    column-gap: 1vw;
    padding: 1vw;
}

#height-version-container{
    width: 16rem;
    display: grid;
    gap: 1vw;
    grid-template-columns: auto;
}

.monitored-field-container {
    width: 100%;
    text-align: center;
    border: 2px solid var(--color-fg);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: small;
    text-align: left;
    margin-left: 0.25vw;
    letter-spacing: 0px;
}

.monitored-field {
    font-size: xx-large;
}

.vote-progress-container {
    width: 100%;
    text-align: center;
    border: 2px solid var(--color-fg);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.vote-display {
    display: grid;
    grid-template-columns: 5rem 8rem auto;
    column-gap: 1vw;
    height: 50%;
    align-items: center;
    margin: 0.5vw;
}

.vote-label {
    text-align: left;
    margin-left: 0.5vw;
}

.vote-percentage {
    text-align: right;
    padding: 0.5vw;
}

.bar-container {
    width: 100%;
    margin: auto;
}

.top_indicator {
    position: relative;
    left: calc(66% - 2.5px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color-fg);
}

.progress-bar-box {
    border: 1px solid var(--color-fg);
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.progress_bar {
    background-color: var(--color-vote-off);
    border-radius: 5vw;
    height: 75%;
    margin: 0;
    border: 0;
    width: 0.505%;
}

.progress_bar_pass {
    background-color: var(--color-vote-on);
    border-radius: 5vw;
    height: 75%;
    margin: 0;
    border: 0;
    width: 0.505%;
}

.bottom_indicator {
    position: relative;
    left: calc(66% - 2.5px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--color-fg);
}

#vote-area {
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 98%;

}

.validator-container {
    border: 1px solid var(--color-fg);
    border-radius: 4px;
    margin: 6px;
    padding: 6px;
}

.validator-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    align-items: center;
}

.vote {
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-vote-off);
    background-color: var(--color-off-bg);
    border: 2px solid var(--color-off-border);
    border-radius: 4px;
    font-size: small;
}

.voted {
    background-color: var(--color-on-bg);
    border-color: var(--color-on-border);
    color: var(--color-vote-on);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #000000;
        --color-fg: #ffa52e;
        --color-off-bg: #000000;
        --color-off-border: #db4325;
        --color-on-bg: #000000;
        --color-on-border: #57c4ad;
        --color-vote-off: #db4325;
        --color-vote-on: #57c4ad;
    }
}

@media only screen and (max-width: 800px) {

    #status-container {
        flex-direction: column;
    }

    #height-version-container {
        text-align: center;
        width: 100%;
    }

    .validator-list {
        grid-template-columns: repeat(2, 1fr);
    }

}