* {
    font-family: Arial, Helvetica, sans-serif;
}

.monitored-field {
    border: 2px solid black;
    border-radius: 4px;
}

#height-version-container {
    display: flex;
    gap: 1rem;
}

#version-container {
    width: 6rem;
    text-align: center;
}

#block-height-container {
    width: 8rem;
    text-align: center;
}

#vote-area {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#prevotes-container, #precommits-container {
    width: 50%;
}

.vote-header {
    margin: 1rem;
}

.vote-tally {
    display: flex;
}

.vote-percentage {
    width: 5rem;
    text-align: center;
    line-height: 2rem;
}

.voting-power {
    margin-left: 2rem;
    width: 15rem;
    text-align: center;
    line-height: 2rem;
}

.validator-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    align-items: center;
}

.vote {
    padding: 4px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}