* {
    font-family: Arial, Helvetica, sans-serif;
}

#height-version-container {
    width: 20%;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
}

#version-container {
    text-align: center;
}


#version-label, #height-label {
    font-size: x-small;
    text-align: left;
    margin-left: 2px;   
}

#version-field, #block-height {
    font-size: x-large;
}

.monitored-field {
    border: 2px solid black;
    border-radius: 4px;
}


#block-height-container {
    text-align: center;
}

#vote-area {
    display: grid;
    gap: 4px;
    margin-top: 1rem;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 8px;
}

#prevotes-container, #precommits-container {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
}

.vote-header {
    font-size: x-small;
    margin-left: 2px;
    margin-bottom: 1rem;
}

.vote-tally {
    display: flex;
    width: 100%;
    margin: auto;
    font-size: large;
    gap: 4px;
}

.vote-percentage {
    text-align: center;
    min-width: 6rem;
    padding: 4px;
}

.voting-power {
    width: 100%;
    text-align: center;
    padding: 4px;
}

.validator-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    align-items: center;
}

.vote {
    padding: 4px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    font-size: small;
}

.voted {
    background-color: lightgreen;
}